{% extends "base.html" %}

{%block doimatkhau%}


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {% if profile_image_url %}
                <a href="#link-to-profile" class="profile-link">
                    <img class="rounded-circle mt-2 profile-image" width="150px" src="{{ profile_image_url }}" alt="Profile Image">
                    <i class="fas fa-user-circle fa-5x text-primary mb-3 profile-icon"></i>
                </a>
            {% elif additional_image_url %}
                <!-- Hiển thị ảnh thêm mới -->
                <a href="#link-to-profile" class="profile-link">
                    <img class="rounded-circle mt-2 profile-image" width="150px" src="{{ additional_image_url }}" alt="Additional Image">
                    <span>Ảnh hồ sơ không khả dụng</span>
                </a>
            {% else %}
                <!-- Hiển thị ảnh mặc định hoặc thông báo khi không có ảnh hồ sơ -->
                {% url 'add_profile_image' as add_profile_image_url %}
                <a href="#link-to-profile" class="profile-link" style="position: relative; display: inline-block;">
                    <img class="rounded-circle mt-2 profile-image" width="120px" src="/static/img/profile.jpg" alt="Default Image" id="profileImage">
                    
                    <div class="file-input-container">
                        <input type="file" id="fileInput" accept="image/*" onchange="handleFileSelect(event)">
                        <label for="fileInput" class="custom-button" accept="image/*" onclick="document.getElementById('fileInput').click()">
                            <i class="fas fa-user-circle fa-5x text-primary mb-3" style="padding-right: 50px; padding-top: 80px; font-size: 30px;"></i>
                        </label>
                    </div>
                </a>
                <span>Ảnh hồ sơ không khả dụng</span>
            {% endif %}
            <span class="nav-link" style="color: #000000; font-size: 19px" id="user-info">Xin chào {{ request.user }}</span>
            <span class="text-black-50">{{ email }}</span>
            <span></span>
            </div>
            <div class="text-center-1">
                <a href="{% url 'profile' %}">Thông tin tài khoản</a>
            </div>
            <div class="text-center-1">
                <a href="{% url 'doimatkhau' %}">Đổi mật khẩu</a>
            </div>
            <div class="text-center-1">
                <h6>   <a href="{% url 'luutrutin' %}">Tin đã lưu</a>  </h6>
            </div>
            <div class="text-centet-1">
                <a href="{% url 'dangxuat' %}" onclick="logout()">Đăng xuất</a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="container">
                <h2>Đổi Mật Khẩu</h2>
                <form method="post" action="{% url 'doimatkhau' %}" id="changePasswordForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Đổi Mật Khẩu</button>
                </form>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
            </div>
        </div>
      
    </div>
</div>
</div>
</div>
{%endblock doimatkhau%}