
{% extends "base.html" %}
{%block luutrutin%} 


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            {% comment %} <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="">
                <span class="nav-link" style = "  color: #000000;font-size:19px" id="user-info">Xin chào {{ request.user }}</span>
                <span class="text-black-50">{{ email }}</span>
                <span></span>
            </div> {% endcomment %}


            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {% if profile_image_url %}
                    <a href="#link-to-profile" class="profile-link">
                        <img class="rounded-circle mt-2 profile-image" width="150px" src="{{ profile_image_url }}" alt="Profile Image">
                        <i class="fas fa-user-circle fa-5x text-primary mb-3 profile-icon"></i>
                    </a>
                {% elif additional_image_url %}
                    <!-- Hiển thị ảnh thêm mới -->
                    <a href="#link-to-profile" class="profile-link">
                        <img class="rounded-circle mt-2 profile-image" width="150px" src="{{ additional_image_url }}" alt="Additional Image">
                        <span>Ảnh hồ sơ không khả dụng</span>
                    </a>
                {% else %}
                    <!-- Hiển thị ảnh mặc định hoặc thông báo khi không có ảnh hồ sơ -->
                    {% url 'add_profile_image' as add_profile_image_url %}
                    <a href="#link-to-profile" class="profile-link" style="position: relative; display: inline-block;">
                        <img class="rounded-circle mt-2 profile-image" width="120px" src="/static/img/profile.jpg" alt="Default Image" id="profileImage">
                        
                        <div class="file-input-container">
                            <input type="file" id="fileInput" accept="image/*" onchange="handleFileSelect(event)">
                            <label for="fileInput" class="custom-button" accept="image/*" onclick="document.getElementById('fileInput').click()">
                                <i class="fas fa-user-circle fa-5x text-primary mb-3" style="padding-right: 50px; padding-top: 80px; font-size: 30px;"></i>
                            </label>
                        </div>
                    </a>
                    <span>Ảnh hồ sơ không khả dụng</span>
                {% endif %}
                <span class="nav-link" style="color: #000000; font-size: 19px" id="user-info">Xin chào {{ request.user }}</span>
                <span class="text-black-50">{{ email }}</span>
                <span></span>
          
            
                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                <script>
                        function handleFileSelect(event) {
                            const selectedFile = event.target.files[0];
                            const profileImage = document.getElementById('profileImage');

                            if (selectedFile && profileImage) {
                                // Hiển thị ảnh mới khi người dùng chọn tệp
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                    profileImage.src = e.target.result;
                                };
                                reader.readAsDataURL(selectedFile);
                            }
                        }
                </script>
                <script>
                    $(document).ready(function() {
                        // Truy cập đường dẫn từ thuộc tính data
                        var addProfileImageUrl = $(".profile-icon").data("add-profile-image-url");
            
                        $(".profile-icon").on("click", function() {
                            // Gửi yêu cầu đến server để xử lý thêm ảnh
                            $.ajax({
                                url: addProfileImageUrl,
                                type: "POST",
                                success: function(response) {
                                    // Khi xử lý thành công, thay đổi ảnh và ẩn thông báo
                                    $(".profile-image").attr("src", response.image_url);
                                    $("#unavailable-message").hide();
                                },
                                error: function(error) {
                                    console.error("Error adding profile image:", error);
                                }
                            });
                        });
                    });
                    function openFileExplorer() {
                        document.getElementById('fileInput').click();
                    }
                
                    document.getElementById('fileInput').addEventListener('change', handleFileSelect);
                
                    function handleFileSelect(event) {
                        const selectedFile = event.target.files[0];
                
                        if (selectedFile) {
                            // Ở đây bạn có thể thực hiện các hành động bạn muốn với tệp được chọn
                            console.log('Đã chọn tệp:', selectedFile.name);
                        }
                    }
                    function handleFileSelect(event) {
                        const selectedFile = event.target.files[0];
                
                        if (selectedFile) {
                            // Thực hiện các hành động với tệp được chọn
                            console.log('Đã chọn tệp:', selectedFile.name);
                        }
                    }
                </script>
            </div>



            <div class="text-center-1">
                <a href="{% url 'profile' %}">Thông tin tài khoản</a>
            </div>
            <div class="text-center-1">
                <a href="{% url 'doimatkhau' %}">Đổi mật khẩu</a>
            </div>
            <div class="text-center-1">
                <h6>   <a href="{% url 'luutrutin' %}">Tin đã lưu</a>  </h6>
            </div>
            <div class="text-centet-1">
                <a href="{% url 'dangxuat' %}" onclick="logout()">Đăng xuất</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="row mb-3">
                    
                   
                    <div class="col-lg-6">     
                        {% for thoisubaiviets in thoisubaiviets1 %}   
                             
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href="">{{thoisubaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thoisubaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
                                <p class="m-0">{{thoisubaiviets.body}}</p>
                            </div>                         
                        </div>
                      
                        {% endfor %}
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-100" src="/static/img/news-500x280-2.jpg" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href="">Technology</a>
                                    <span class="px-1">/</span>
                                    <span>January 01, 2045</span>
                                </div>
                                <a class="h4" href="">Est stet amet ipsum stet clita rebum duo</a>
                                <p class="m-0">Rebum dolore duo et vero ipsum clita, est ea sed duo diam ipsum, clita at justo, lorem amet vero eos sed sit...</p>
                            </div>
                        </div>
                    </div>
                    
                 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</div>

{%endblock luutrutin%}
