

{% extends "base.html" %}
{%block profile%}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            {% comment %} <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="">
                <span class="nav-link" style = "  color: #000000;font-size:19px" id="user-info">Xin chào {{ request.user }}</span>
                <span class="text-black-50">{{ email }}</span>
                <span></span>
            </div> {% endcomment %}


            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {% if profile_image_url %}
                    <a href="#link-to-profile" class="profile-link">
                        <img class="rounded-circle mt-2 profile-image" width="150px" src="{{ profile_image_url }}" alt="Profile Image">
                        <i class="fas fa-user-circle fa-5x text-primary mb-3 profile-icon"></i>
                    </a>
                {% elif additional_image_url %}
                    <!-- Hiển thị ảnh thêm mới -->
                    <a href="#link-to-profile" class="profile-link">
                        <img class="rounded-circle mt-2 profile-image" width="150px" src="{{ additional_image_url }}" alt="Additional Image">
                        <span>Ảnh hồ sơ không khả dụng</span>
                    </a>
                {% else %}
                    <!-- Hiển thị ảnh mặc định hoặc thông báo khi không có ảnh hồ sơ -->
                    {% url 'add_profile_image' as add_profile_image_url %}
                    <a href="#link-to-profile" class="profile-link" style="position: relative; display: inline-block;">
                        <img class="rounded-circle mt-2 profile-image" width="120px" src="/static/img/profile.jpg" alt="Default Image" id="profileImage">
                        
                        <div class="file-input-container">
                            <input type="file" id="fileInput" accept="image/*" onchange="handleFileSelect(event)">
                            <label for="fileInput" class="custom-button" accept="image/*" onclick="document.getElementById('fileInput').click()">
                                <i class="fas fa-user-circle fa-5x text-primary mb-3" style="padding-right: 50px; padding-top: 80px; font-size: 30px;"></i>
                            </label>
                        </div>
                    </a>
                    <span>Ảnh hồ sơ không khả dụng</span>
                {% endif %}
                <span class="nav-link" style="color: #000000; font-size: 19px" id="user-info">Xin chào {{ request.user }}</span>
                <span class="text-black-50">{{ email }}</span>
                <span></span>
          


            
                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
               <script>
                
                    function handleFileSelect(event) {
                        const fileInput = event.target;
                    
                        // Kiểm tra xem người dùng đã chọn tệp hay chưa
                        if (fileInput.files.length > 0) {
                            // Lấy tệp hình ảnh đã chọn
                            const selectedFile = fileInput.files[0];
                    
                            // Tạo đường dẫn URL cho tệp hình ảnh đã chọn
                            const imageURL = URL.createObjectURL(selectedFile);
                    
                            // Cập nhật thuộc tính src của thẻ hình ảnh
                            document.getElementById('profileImage').src = imageURL;
                        }
                    }
                </script>
                <script>




                    


                    $(document).ready(function() {
                        // Truy cập đường dẫn từ thuộc tính data
                        var addProfileImageUrl = $(".profile-icon").data("add-profile-image-url");
            
                        $(".profile-icon").on("click", function() {
                            // Gửi yêu cầu đến server để xử lý thêm ảnh
                            $.ajax({
                                url: addProfileImageUrl,
                                type: "POST",
                                success: function(response) {
                                    // Khi xử lý thành công, thay đổi ảnh và ẩn thông báo
                                    $(".profile-image").attr("src", response.image_url);
                                    $("#unavailable-message").hide();
                                },
                                error: function(error) {
                                    console.error("Error adding profile image:", error);
                                }
                            });
                        });
                    });
                    function openFileExplorer() {
                        document.getElementById('fileInput').click();
                    }
                
                    document.getElementById('fileInput').addEventListener('change', handleFileSelect);
                
                    function handleFileSelect(event) {
                        const selectedFile = event.target.files[0];
                
                        if (selectedFile) {
                            // Ở đây bạn có thể thực hiện các hành động bạn muốn với tệp được chọn
                            console.log('Đã chọn tệp:', selectedFile.name);
                        }
                    }
                    function handleFileSelect(event) {
                        const selectedFile = event.target.files[0];
                
                        if (selectedFile) {
                            // Thực hiện các hành động với tệp được chọn
                            console.log('Đã chọn tệp:', selectedFile.name);
                        }
                    }
                </script>
            </div>



            <div class="text-center-1">
                <a href="{% url 'profile' %}">Thông tin tài khoản</a>
            </div>
            <div class="text-center-1">
                <a href="{% url 'doimatkhau' %}">Đổi mật khẩu</a>
            </div>
            <div class="text-center-1">
                <h6><a href="{% url 'luutrutin' %}">Tin đã lưu</a>  </h6>
            </div>
            <div class="text-centet-1">
                <a href="{% url 'dangxuat' %}" onclick="logout()">Đăng xuất</a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Hồ sơ của tôi</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Tên hiển thị </label>
                        <input type="text" id="firstName" class="form-control" placeholder="Tên đầu tiên" value="{{ request.user }}"readonly>
                    </div>
                    
                    
                </div>
                <div class="row mt-3">
                    {% comment %} <div class="col-md-12">
                        <label class="labels">Số điện thoại</label>
                        <input type="text" id="phoneNumber" class="form-control" placeholder="Nhập số điện thoại" value="{{ user.phone_number }}">
                    </div> {% endcomment %}
                    <div class="col-md-12">
                        <label class="labels">Email ID</label>
                        <input type="text" class="form-control" placeholder="{{ user.email }}" value="{{ user.email }}" readonly>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" onclick="saveProfile()">Lưu</button>
                </div>
            </div>
        </div>
        
      
    </div>
</div>
</div>
</div>
{%endblock profile%}