{% extends "base.html" %}
{% load static %}
{%block suckhoe%} 

<!-- News With Sidebar Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">{{ suckhoe1 }}</h3>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="">Xem tất cả</a>
                        </div>
                    </div>
                    {% for suckhoebaiviets in suckhoebaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{suckhoebaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{suckhoebaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                                <p class="m-0">{{suckhoebaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="mb-3">
                    <a href=""><img class="img-fluid w-100" src="/stactic/img/ads-700x70.jpg" alt=""></a>
                    <h3 class="m-0">{{ suckhoe2 }}</h3>
                </div>
                
                <div class="row">
                    {% for suckhoebaiviets in suckhoebaiviets2 %}
                    <div class="col-lg-6">
                        <div class="d-flex mb-3">
                            <img src="{{suckhoebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{suckhoebaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                            </div>
                        </div>
                    </div>   
                    {% endfor %} 
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pt-3 pt-lg-0">
              

                <!-- Ads Start -->
                <div class="mb-3 pb-3">
                    <a href=""><img class="img-fluid" src="img/news-500x280-4.jpg" alt=""></a>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">{{ suckhoe3 }}</h3>
                    </div>
                    {% for suckhoebaiviets in suckhoebaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{suckhoebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{suckhoebaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{suckhoebaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}   
                </div>
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">{{ suckhoe4 }}</h3>
                    </div>
                    <div class="d-flex flex-wrap m-n1">
                        {% for suckhoebaiviets in suckhoebaiviets4 %}
                        <div class="d-flex mb-3">
                            <img src="{{suckhoebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{suckhoebaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                            </div>
                        </div>
                        {%endfor%}   
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
</div>
<a href="#" class="btn btn-dark back-to-top"><i class="fa fa-angle-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>

{%endblock suckhoe%}