{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Báo Tuổi Trẻ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">   
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/asserts/owl.carousel.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.theme.green.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.theme.green.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.theme.green.min.css' %}" rel="stylesheet" />

  

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/mediumish.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center py-2 px-lg-5">
            <div class="col-lg-4">
                <a href="{% url 'index' %}" class="navbar-brand d-none d-lg-block">
                    <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">Báo </span>Mới</h1>
                </a>
            </div>
            <p id="current-time"><span id="date">{{ current_time|date:"D, d M Y" }}</span><span id="time">{{ current_time|date:"H:i:" }}<span class="navbar-thoigian1" id="seconds">{{ current_time|date:"s" }}</span></span></p>

            <div class="col-lg-8 text-center text-lg-right" style = "     display: contents;">
             
               
                <nav class="navbar-dangky2" style =";padding-top: 10px;">
                    <ul class="navbar-nav-dangky2" style = "">
                        <li class="nav-item-dangky2">
                            <h4 class="header-title" style = "font-size:20px">Theo dõi báo trên</h4>
                        </li>
                        <li class="nav-item-dangky2">
                            <a href="https://www.youtube.com/channel/UCIW9cGgoRuGJnky3K3tbzNg" class="nav-link2">
                                <i class="fab fa-youtube custom-icon" style = "font-size:25px; color:red;"></i>
                            </a>
                        </li>
                        <li class="nav-item-dangky2">
                            <a href="https://www.facebook.com/thanhnien" class="nav-link2">
                                <i class="fab fa-facebook-f custom-icon" style = "font-size:25px; color:#0c51d3;"></i>
                            </a>
                        </li>
                        <li class="nav-item-dangky2">
                            <a href="https://www.tiktok.com/@baothanhnien.official" class="nav-link2">
                                <i class="fab fa-tiktok custom-icon" style = "font-size:25px"></i>
                            </a>
                        </li>
                        <li class="nav-item-dangky2">
                            <a href="https://zalo.me/2431025964363015388" class="nav-link2">
                                <img src="/static/img/zalo.jpg.png" style="width: 30px">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

 
    <!-- Navbar Start -->
    <div class="container-fluid p-0 mb-3">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">Báo</span>Mới</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0"> 
                  <a href="{% url 'index' %}" class="nav-item nav-link  {% if active == 'trangchu'  %} is-active {% endif %}"style = "color:#030404;">Trang chủ</a>
                    <a href="{% url 'thoisu' %}" class="nav-item nav-link {% if active == 'thoisu'  %} is-active {% endif %}"style = "color:#030404;">Thời sự</a>
                    <a href="{% url 'kinhte' %}" class="nav-item nav-link {% if active == 'kinhte'  %} is-active {% endif %}"style = "color:#030404;">Kinh tế</a>
                    <a href="{% url 'doisong' %}" class="nav-item nav-link {% if active == 'doisong'  %} is-active {% endif %}"style = "color:#030404;">Đời sống</a>
                    <a href="{% url 'suckhoe' %}" class="nav-item nav-link {% if active == 'suckhoe'  %} is-active {% endif %}"style = "color:#030404;">Sức khỏe</a>
                    <a href="{% url 'giaoduc' %}" class="nav-item nav-link {% if active == 'giaoduc'  %} is-active {% endif %}"style = "color:#030404;">Giáo dục</a>                
                    <a href="{% url 'dulich' %}" class="nav-item nav-link {% if active == 'dulich'  %} is-active {% endif %}"style = "color:#030404;">Du lịch</a>
                    <a href="{% url 'giaitri' %}" class="nav-item nav-link {% if active == 'giaitri'  %} is-active {% endif %}"style = "color:#030404;">Giải trí</a>
                    <a href="{% url 'thethao' %}" class="nav-item nav-link {% if active == 'thethao'  %} is-active {% endif %}"style = "color:#030404;">Thể thao</a>
                    <a href="{% url 'gioitre' %}" class="nav-item nav-link {% if active == 'gioitre'  %} is-active {% endif %}"style = "color:#030404;">Giới trẻ</a>  
                 </div> 
                <form id="searchForm" class="input-group ml-auto" style="width: 100%; max-width: 300px;"  name="myform" method="POST" action="{% url 'search' %}">  
                    {% csrf_token %}
                    <input  id="searchInput" class="form-control" type="text" name="search" placeholder="Tìm kiếm" />
                    <div class="input-group-append" type ='text'name="search" placeholder="Search" >
                        <button id="searchButton" class="input-group-text text-secondary"><i
                                class="fa fa-search"></i></button>
                    </div>
                </form> 
            </div>
        </nav>
    </div>
 
    {%block content%} {%endblock content%}
    {%block kinhte%} {%endblock kinhte%}
    {%block thoisu%} {%endblock thoisu%}
    {%block gioitre%} {%endblock gioitre%}
    {%block suckhoe%} {%endblock suckhoe%}
    {%block doisong%} {%endblock doisong%}
    {%block giaoduc%} {%endblock giaoduc%}
    {%block dulich%} {%endblock dulich%}
    {%block thethao%} {%endblock thethao%}
    {%block giaitri%} {%endblock giaitri%}
    {%block search%} {%endblock search%}
    {%block dangky%} {%endblock dangky%}
    {%block dangnhap%} {%endblock dangnhap%}
    {%block verify_otp%} {%endblock verify_otp%}
    {%block profile%} {%endblock profile%}
    {%block doimatkhau%} {%endblock doimatkhau%}
    {%block luutrutin%} {%endblock luutrutin%}
    
    <!-- News With Sidebar Start -->

    <div class="container-fluid bg-light pt-5 px-sm-3 px-md-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="{% url 'index'%}" class="navbar-brand">
                    <h1 class="mb-2 mt-n2 display-5 text-uppercase"><span class="text-primary">Báo</span>Mới</h1>
                </a>
                <p>Chào mừng bạn đến với trang website BÁO MỚI, nơi chúng tôi tự hào là nguồn tin tức đáng tin cậy và mang tính chất chất lượng cao.</p>
             
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-4">Các thể loại</h4>
                <div class="d-flex flex-wrap m-n1">
                    
                    <a href="{% url 'thoisu' %}" class="btn btn-sm btn-outline-secondary m-1">Thời sự</a>
                    <a href="{% url 'kinhte' %}" class="btn btn-sm btn-outline-secondary m-1">Kinh tế</a>
                    <a href="{% url 'doisong' %}" class="btn btn-sm btn-outline-secondary m-1">Đời sống</a>
                    <a href="{% url 'suckhoe' %}" class="btn btn-sm btn-outline-secondary m-1">Sức khỏe</a>
                    <a href="{% url 'giaoduc' %}" class="btn btn-sm btn-outline-secondary m-1">Giáo dục</a>
                    <a href="{% url 'dulich' %}" class="btn btn-sm btn-outline-secondary m-1">Du lịch</a>
                    <a href="{% url 'giaitri' %}" class="btn btn-sm btn-outline-secondary m-1">Giải trí</a>
                    <a href="{% url 'thethao' %}" class="btn btn-sm btn-outline-secondary m-1">Thể thao</a>
                    <a href="{% url 'gioitre' %}" class="btn btn-sm btn-outline-secondary m-1">Giới trẻ</a>
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-4">Liên hệ với chúng tôi</h4>
                <div class="d-flex flex-wrap m-n1">
                    <div class="contact-info">
                        <div class="hotline">
                            Hotline: <a href="tel:0906645777">0869 002 357</a>
                        </div>
                        <div class="advertising-contact">
                            Liên hệ quảng cáo: <a href="tel:0908780404">0869 002 357</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <nav class="navbar-dangky1" style = "margin-top: -15px">
                    <ul class="navbar-nav-dangky1">
                        {% if request.user.is_authenticated %}
                        <!-- Hiển thị liên kết đến trang profile nếu người dùng đã đăng nhập -->
                        <li class="nav-item-dangky1">
                            <a href="{% url 'profile' %}" class="nav-link">
                                <i class="fas fa-user custom-icon" style = "font-size: 50px;color: #1667cb;"></i>
                            </a>
                        </li>
                        {% else %}
                        <!-- Hiển thị liên kết đăng nhập và đăng ký nếu người dùng chưa đăng nhập -->
                        <li class="nav-item-dangky1">
                            <a href="{% url 'dangnhap' %}" class="nav-link">
                                Đăng nhập
                            </a>
                        </li>
                        <li class="nav-item-dangky1">
                            <a href="{% url 'dangky' %}" class="nav-link">
                                Đăng ký
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <li class="nav-item-dangky2" style = "list-style-type: none;padding-top:40px">
                    <h4 class="header-title" style = "font-size:20px">Theo dõi báo trên</h4>
                </li>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.facebook.com/thanhnien"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.tiktok.com/@baothanhnien.official"><i class="fab fa-tiktok " style = ""></i></i></a>
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://zalo.me/2431025964363015388"><img src="/static/img/zalo.jpg" style="width: 30px"></i></a>
                    <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.youtube.com/channel/UCIW9cGgoRuGJnky3K3tbzNg"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="container-fluid py-4 px-sm-3 px-md-5">
        <p class="m-0 text-center">
            &copy; <a class="font-weight-bold" href="#">Your Site Name</a>. All Rights Reserved. 
        </p>
    </div> {% endcomment %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-dark back-to-top"><i class="fa fa-angle-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

        <script>
            $(document).ready(function() {
             // Kiểm tra xem người dùng đã đăng nhập hay chưa
            var isUserLoggedIn = {{ request.user.is_authenticated|yesno:"true,false" }};
            
            if (isUserLoggedIn) {
                // Nếu người dùng đã đăng nhập, hiện "Đăng xuất" và ẩn "Đăng nhập" và "Đăng ký"
                $("#user-info").text("Hello {{ request.user }}");
                $("#logout-link").show();
                $("#login-link").hide();
                $("#signup-link").hide();
            } else {
                // Nếu người dùng chưa đăng nhập, hiện "Đăng nhập" và "Đăng ký" và ẩn "Đăng xuất"
                $("#logout-link").hide();
                $("#login-link").show();
                $("#signup-link").show();
            }
            });
        </script>
       

        {% comment %}  tìm kiếm {% endcomment %}
        <script>
            $(document).ready(function(){
                $('#searchButton').on('click', function(){
                    var inputValue = $('#searchInput').val();
                    if (inputValue.trim() === '') {
                        alert('Vui lòng nhập để tìm kiếm');
                        return false; // Ngăn chặn việc gửi form
                    }
                    // Nếu có giá trị, form sẽ tiếp tục gửi đi
                });
            });
        </script>


  {% comment %}  Đăng nhập và đăng ký {% endcomment %}
        <script>
            $(document).ready(function() {
                // Bắt sự kiện khi nhấn vào liên kết Đăng nhập
                $("#loginLink").click(function(event) {
                    event.preventDefault();
                    // Thực hiện các hành động mở trang đăng nhập ở đây
                    alert("Mở trang đăng nhập");
                });
        
                // Bắt sự kiện khi nhấn vào liên kết Đăng ký
                $("#signupLink").click(function(event) {
                    event.preventDefault();
                    // Thực hiện các hành động mở trang đăng ký ở đây
                    alert("Mở trang đăng ký");
                });
            });
        </script>
        {% comment %}  lưu thông tin {% endcomment %}

        <script>
            var myColumn = document.getElementById("myColumn");
            var isMouseDown = false;
            var startY, currentY;
        
            myColumn.addEventListener("mousedown", function(e) {
                isMouseDown = true;
                startY = e.clientY;
            });
        
            document.addEventListener("mousemove", function(e) {
                if (isMouseDown) {
                    currentY = e.clientY;
                    var deltaY = currentY - startY;
                    myColumn.style.transform = "translateY(" + deltaY + "px)";
                }
            });
        
            document.addEventListener("mouseup", function() {
                isMouseDown = false;
                myColumn.style.transform = "translateY(0)";
            });   
        </script>
{% comment %} zoom in zoom out {% endcomment %}
<script>
    function updateSeconds() {
        var secondsElement = document.getElementById('seconds');
        var currentSeconds = parseInt(secondsElement.innerText);
    
        // Tăng giây lên 1
        currentSeconds = (currentSeconds + 1) % 60;
    
        // Hiển thị giây đã được cập nhật
        secondsElement.innerText = currentSeconds < 10 ? '0' + currentSeconds : currentSeconds;
    }
    
    // Cập nhật giây mỗi giây
    setInterval(updateSeconds, 1000);
    </script>



    <script src="{% static 'mail/contact.js' %}"></script>
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
   
  
  
</body>

</html>