
{% extends "base.html" %}
{% load static %}
{%block dangky%}
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="dangkymoinhat1123">
              <h2 class="dangkymoinhat" style = "text-align: center;margin-top: 10px;">Tạo tài khoản</h2>
              <form method="POST" action="{% url 'dangky' %}">
                {% csrf_token %}
            
                <div class="dangkymoi" >
                    <label class="dangkymoi1" for="id_username" style = "outline: none;">Tên đăng nhập</label>
                    {{ form.username }}
                    {% if form.errors.username %}
                        <p class="text-danger">{{ form.errors.username.0 }}</p>
                    {% endif %}
                </div>
            
                <div class="dangkymoi">
                    <label class="dangkymoi1" for="id_email">Email</label>
                    {{ form.email }} 
                    {{ form.email.errors }}
                </div>
            
                <div class="dangkymoi">
                    <label class="dangkymoi1" for="id_password1">Mật khẩu</label>
                    {{ form.password1 }}
                </div>
            
                <div class="dangkymoi">
                    <label class="dangkymoi1" for="id_password2">Nhập lại mật khẩu của bạn</label>
                    {{ form.password2 }}
                </div>
            
                <!-- Nút đăng ký -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                        Đăng ký
                    </button>
                </div>
            
                <p class="text-center text-muted mt-5 mb-0">Bạn đã có tài khoản? <a href="{% url 'dangnhap' %}" class="fw-bold text-body"><u>Đăng nhập tại đây</u></a></p>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock dangky%}


