

{% extends "base.html" %}
{%block dangnhap%}
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Đăng nhập tài khoản</h2>

              <form method="POST" action ="">
                {% csrf_token %} 
                <div class="form-outline mb-4">
                  <input type="text" name ='username' id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Tên đăng nhập</label>         
                </div>
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Mật khẩu</label>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Đăng nhập</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Nếu bạn chưa có tài khoản? <a href={% url 'dangky'%}
                    class="fw-bold text-body"><u>Đăng ký tại đây</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock dangnhap%}