{% extends "base.html" %}

{%block content%} 

<div class="container-fluid py-3" style = "">
    <div class="col-md-2 col-xs-12">
        <div class="share" style = " border: 1px solid #333; border-radius: 5px;">
            <ul>
                <li>
                    <div class="zoom-container">
                        <i class="fas fa-search-plus zoom-icon" onclick="increaseScale()"></i>
                        <i class="fas fa-search-minus zoom-icon" onclick="decreaseScale()"></i>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                <a target="_blank" href="https://twitter.com/home?status=http%3A//www.wowthemes.net">
                <svg class="svgIcon-use" width="29" height="29" viewbox="0 0 29 29"><path d="M21.967 11.8c.018 5.93-4.607 11.18-11.177 11.18-2.172 0-4.25-.62-6.047-1.76l-.268.422-.038.5.186.013.168.012c.3.02.44.032.6.046 2.06-.026 3.95-.686 5.49-1.86l1.12-.85-1.4-.048c-1.57-.055-2.92-1.08-3.36-2.51l-.48.146-.05.5c.22.03.48.05.75.08.48-.02.87-.07 1.25-.15l2.33-.49-2.32-.49c-1.68-.35-2.91-1.83-2.91-3.55 0-.05 0-.01-.01.03l-.49-.1-.25.44c.63.36 1.35.57 2.07.58l1.7.04L7.4 13c-.978-.662-1.59-1.79-1.618-3.047a4.08 4.08 0 0 1 .524-1.8l-.825.07a12.188 12.188 0 0 0 8.81 4.515l.59.033-.06-.59v-.02c-.05-.43-.06-.63-.06-.87a3.617 3.617 0 0 1 6.27-2.45l.2.21.28-.06c1.01-.22 1.94-.59 2.73-1.09l-.75-.56c-.1.36-.04.89.12 1.36.23.68.58 1.13 1.17.85l-.21-.45-.42-.27c-.52.8-1.17 1.48-1.92 2L22 11l.016.28c.013.2.014.35 0 .52v.04zm.998.038c.018-.22.017-.417 0-.66l-.498.034.284.41a8.183 8.183 0 0 0 2.2-2.267l.97-1.48-1.6.755c.17-.08.3-.02.34.03a.914.914 0 0 1-.13-.292c-.1-.297-.13-.64-.1-.766l.36-1.254-1.1.695c-.69.438-1.51.764-2.41.963l.48.15a4.574 4.574 0 0 0-3.38-1.484 4.616 4.616 0 0 0-4.61 4.613c0 .29.02.51.08.984l.01.02.5-.06.03-.5c-3.17-.18-6.1-1.7-8.08-4.15l-.48-.56-.36.64c-.39.69-.62 1.48-.65 2.28.04 1.61.81 3.04 2.06 3.88l.3-.92c-.55-.02-1.11-.17-1.6-.45l-.59-.34-.14.67c-.02.08-.02.16 0 .24-.01 2.12 1.55 4.01 3.69 4.46l.1-.49-.1-.49c-.33.07-.67.12-1.03.14-.18-.02-.43-.05-.64-.07l-.76-.09.23.73c.57 1.84 2.29 3.14 4.28 3.21l-.28-.89a8.252 8.252 0 0 1-4.85 1.66c-.12-.01-.26-.02-.56-.05l-.17-.01-.18-.01L2.53 21l1.694 1.07a12.233 12.233 0 0 0 6.58 1.917c7.156 0 12.2-5.73 12.18-12.18l-.002.04z"></path></svg>
                </a>
                </li>
                <li>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.wowthemes.net">
                <svg class="svgIcon-use" width="29" height="29" viewbox="0 0 29 29"><path d="M16.39 23.61v-5.808h1.846a.55.55 0 0 0 .546-.48l.36-2.797a.551.551 0 0 0-.547-.62H16.39V12.67c0-.67.12-.813.828-.813h1.474a.55.55 0 0 0 .55-.55V8.803a.55.55 0 0 0-.477-.545c-.436-.06-1.36-.116-2.22-.116-2.5 0-4.13 1.62-4.13 4.248v1.513H10.56a.551.551 0 0 0-.55.55v2.797c0 .304.248.55.55.55h1.855v5.76c-4.172-.96-7.215-4.7-7.215-9.1 0-5.17 4.17-9.36 9.31-9.36 5.14 0 9.31 4.19 9.31 9.36 0 4.48-3.155 8.27-7.43 9.15M14.51 4C8.76 4 4.1 8.684 4.1 14.46c0 5.162 3.75 9.523 8.778 10.32a.55.55 0 0 0 .637-.543v-6.985a.551.551 0 0 0-.55-.55H11.11v-1.697h1.855a.55.55 0 0 0 .55-.55v-2.063c0-2.02 1.136-3.148 3.03-3.148.567 0 1.156.027 1.597.06v1.453h-.924c-1.363 0-1.93.675-1.93 1.912v1.78c0 .3.247.55.55.55h2.132l-.218 1.69H15.84c-.305 0-.55.24-.55.55v7.02c0 .33.293.59.623.54 5.135-.7 9.007-5.11 9.007-10.36C24.92 8.68 20.26 4 14.51 4"></path></svg>
                </a>
                </li>
            </ul>
            <div class="sep">
            </div>
            <ul>
                <li>
                    <div class="luutin-container" style=";" id="luuTinContainer">
                        <i class="fas fa-bookmark save-icon" style="margin-left: 10px; color: #565640;" id="savePostButton" data-article-id="1"></i>
                        <span class="luutin-tooltip" id="luuTinTooltip">Lưu tin</span>
                    </div>
                </li>
            </ul>
        
            <ul>
                <div class="copy-container"style = " margin-top:12px;" >
                    <i class="fas fa-copy copy-icon" style="font-size: 20px; color: #565640;" id="copyIcon"></i>
                    <span class="copy-tooltip" id="copyTooltip">Sao chép</span>
                </div>
            </ul> 
          
        </div>
        <div id="copyNotification" class="copy-notification"></div>
    </div>
    <div class="container" style = "">    
        <div class="row">  
            <div class="col-lg-8">
                {% comment %} <div class="position-relative mb-3"> 
                    <div class="overlay position-relative bg-light">
                        <div class="mb-3">
                            <a href="/">{{data.name| truncatechars:200}}</a>
                            <span class="px-1">/</span>
                            <span>{{data.my_datetime}}</span>
                        </div>
                        <div>         
                            <p>{{data.content |safe}}</p>  
                        </div>
                    </div>
                </div> {% endcomment %}
               <div class="position-relative mb-3" >
                    <div class="overlay position-relative bg-light" >
                        <div class="mb-3">
                            <a href="/">{{data.name| truncatechars:200}}</a>
                            <span class="px-1">/</span>
                            <span>{{data.my_datetime}}</span>
                        </div>
                        <div class="text-container">
                            <p id="zoomText">{{ data.content | safe }}</p>
                        </div>
                    </div>
                </div> 
                 
                
    
             {% comment %} <div class="bg-light mb-3" style="padding: 30px;">
                    <h3 class="mb-4">Bình Luận</h3>
                    <form>
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Leave a comment"
                                class="btn btn-primary font-weight-semi-bold py-2 px-3">
                        </div>
                    </form>
                </div> 
               {% endcomment %}
              

            </div>

            <div class="col-lg-4 pt-3 pt-lg-0">
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Đọc thêm</h3>
                    </div>
                    {% for thethaobaiviets in thethaobaiviets4 %}
                        <div class="d-flex mb-3">
                            <img src="{{thethaobaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{thethaobaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                            </div>
                        </div>
                        {%endfor%}  
                    {% for gioitrebaiviets in gioitrebaiviets2 %}
                        <div class="d-flex mb-3">
                            <img src="{{gioitrebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="{% url 'gioitre' %}">{{gioitrebaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{gioitrebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/gioitre/{{ gioitrebaiviets.slug }}">{{ gioitrebaiviets.titel }}</a>
                            </div>
                        </div>
                    {% endfor %} 
                    {% for thoisubaiviets in thoisubaiviets2 %}
                        <div class="d-flex mb-3">
                            <img src="{{thoisubaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{thoisubaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thoisubaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
                            </div>
                        </div>
                    {% endfor %} 
                    {% for giaitribaiviets in giaitribaiviets2 %}
                        <div class="d-flex mb-3">
                            <img src="{{giaitribaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{giaitribaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{giaitribaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/giaitri/{{ giaitribaiviets.slug }}">{{ giaitribaiviets.titel }}</a>
                            </div>
                        </div>
                    {% endfor %} 
                    {% for thethaobaiviets in thethaobaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{thethaobaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{thethaobaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{thethaobaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}   
                    {% for dulichbaiviets in dulichbaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{dulichbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{dulichbaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{dulichbaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/dulich/{{ dulichbaiviets.slug }}">{{ dulichbaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}
                    {% for suckhoebaiviets in suckhoebaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{suckhoebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{suckhoebaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{suckhoebaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%} 
                    {% for giaoducbaiviets in giaoducbaiviets4 %}
                        <div class="d-flex mb-3">
                            <img src="{{giaoducbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{giaoducbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{giaoducbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                            </div>
                        </div>
                {%endfor%}
                    {% for doisongbaiviets in doisongbaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{doisongbaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{doisongbaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}    
                    {% for giaoducbaiviets in giaoducbaiviets2 %}
            
                        <div class="d-flex mb-3">
                            <img src="{{giaoducbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{giaoducbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{giaoducbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                            </div>
                        </div>
        
                    {% endfor %} 
                    
                </div>  
            </div>  
           
                
{% comment %}------------------------------------ Phần xem tin khác---------------------------------- {% endcomment %}
</div>

<div class="container-fluid py-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="row">
                  <div class="col-12">
                      <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                          <h3 class="m-0">Tin liên quan</h3>
                          <a class="text-secondary font-weight-medium text-decoration-none" href="{% url 'thoisu'%}"></a>
                      </div>
                  </div>
                 
                  {% for thoisubaiviets in thoisubaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href="">{{thoisubaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thoisubaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
                                <p class="m-0">{{thoisubaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}   
                  {% for kinhtebaiviets in kinhtebaiviets1 %}
                  <div class="col-lg-6">                       
                      <div class="position-relative mb-3">                         
                          <img class="img-fluid w-100" src="{{kinhtebaiviets.image.url}}" style="object-fit: cover;">                           
                          <div class="overlay position-relative bg-light">
                              <div class="mb-2" style="font-size: 14px;">
                                  <a href="{% url 'kinhte'%}"style="text-decoration: none;">{{kinhtebaiviets.name | truncatechars:50 }} </a>
                                  <span class="px-1">/</span>
                                  <span>{{kinhtebaiviets.my_datetime}}</span>
                              </div>
                              <a class="h4" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                              <p class="m-0">{{kinhtebaiviets.body}}</p>
                          </div>                         
                      </div>
                  </div>
                  {% endfor %}
                  {% for giaoducbaiviets in giaoducbaiviets1 %}
                  <div class="col-lg-6">                       
                      <div class="position-relative mb-3">                         
                          <img class="img-fluid w-100" src="{{giaoducbaiviets.image.url}}" style="object-fit: cover;">                           
                          <div class="overlay position-relative bg-light">
                              <div class="mb-2" style="font-size: 14px;">
                                  <a href="{% url 'giaoduc'%}">{{giaoducbaiviets.name}}</a>
                                  <span class="px-1">/</span>
                                  <span>{{giaoducbaiviets.my_datetime}}</span>
                              </div>
                              <a class="h4" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                              <p class="m-0">{{giaoducbaiviets.body}}</p>
                          </div>                         
                      </div>
                  </div>
                  {% endfor %}
                  {% for doisongbaiviets in doisongbaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{doisongbaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{doisongbaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{doisongbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                                <p class="m-0">{{doisongbaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for dulichbaiviets in dulichbaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{dulichbaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{dulichbaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{dulichbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/dulich/{{ dulichbaiviets.slug }}">{{ dulichbaiviets.titel }}</a>
                                <p class="m-0">{{dulichbaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for giaitribaiviets in giaitribaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{giaitribaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{giaitribaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{giaitribaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/giaitri/{{ giaitribaiviets.slug }}">{{ giaitribaiviets.titel }}</a>
                                <p class="m-0">{{giaitribaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for gioitrebaiviets in gioitrebaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{gioitrebaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{gioitrebaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{gioitrebaiviets.my_datetime}}</span>
                                </div>
                              
                                <a class="h4" href="/gioitre/{{ gioitrebaiviets.slug }}">{{ gioitrebaiviets.titel }}</a>
                                <p class="m-0">{{gioitrebaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for suckhoebaiviets in suckhoebaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{suckhoebaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{suckhoebaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                                <p class="m-0">{{suckhoebaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for thethaobaiviets in thethaobaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{thethaobaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{thethaobaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                                <p class="m-0">{{thethaobaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}  
              </div>
              <div class="row">
          {% for doisongbaiviets in doisongbaiviets2 %}
          <div class="col-lg-6">
              <div class="d-flex mb-3">
                  <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                  <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                      <div class="mb-1" style="font-size: 13px;">
                          <a href="{% url 'doisong' %}">{{doisongbaiviets.name}}</a>
                          <span class="px-1">/</span>
                          <span>{{doisongbaiviets.my_datetime}}</span>
                      </div>
                      <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                  </div>
              </div>
          </div>   
          {% endfor %} 
          {% for giaoducbaiviets in giaoducbaiviets2 %}
          <div class="col-lg-6">
              <div class="d-flex mb-3">
                  <img src="{{giaoducbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                  <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                      <div class="mb-1" style="font-size: 13px;">
                          <a href="">{{giaoducbaiviets.name}}</a>
                          <span class="px-1">/</span>
                          <span>{{giaoducbaiviets.my_datetime}}</span>
                      </div>
                      <a class="h6 m-0" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                  </div>
              </div>
          </div>   
          {% endfor %} 
             {% for suckhoebaiviets in suckhoebaiviets2 %}
             <div class="col-lg-6">
                 <div class="d-flex mb-3">
                     <img src="{{suckhoebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                     <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                         <div class="mb-1" style="font-size: 13px;">
                             <a href="">{{suckhoebaiviets.name}}</a>
                             <span class="px-1">/</span>
                             <span>{{suckhoebaiviets.my_datetime}}</span>
                         </div>
                         <a class="h6 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                     </div>
                 </div>
             </div>   
             {% endfor %} 
             {% for dulichbaiviets in dulichbaiviets2 %}
                    <div class="col-lg-6">
                        <div class="d-flex mb-3">
                            <img src="{{dulichbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{dulichbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{dulichbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/dulich/{{ dulichbaiviets.slug }}">{{ dulichbaiviets.titel }}</a>
                            </div>
                        </div>
                    </div>   
              {% endfor %} 
              {% for giaoducbaiviets in giaoducbaiviets2 %}
                    <div class="col-lg-6">
                        <div class="d-flex mb-3">
                            <img src="{{giaoducbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{giaoducbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{giaoducbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                            </div>
                        </div>
                    </div>   
               {% endfor %} 
              
               {% for kinhtebaiviets in kinhtebaiviets2 %}
               <div class="col-lg-6">
                   <div class="d-flex mb-3">
                       <img src="{{kinhtebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                       <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                           <div class="mb-1" style="font-size: 13px;">
                               <a href="">{{kinhtebaiviets.name}}</a>
                               <span class="px-1">/</span>
                               <span>{{kinhtebaiviets.my_datetime}}</span>
                           </div>
                           <a class="h6 m-0" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                       </div>
                   </div>
               </div>   
               {% endfor %} 
               {% for thethaobaiviets in thethaobaiviets2 %}
               <div class="col-lg-6">
                   <div class="d-flex mb-3">
                       <img src="{{thethaobaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                       <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                           <div class="mb-1" style="font-size: 13px;">
                               <a href="">{{thethaobaiviets.name}}</a>
                               <span class="px-1">/</span>
                               <span>{{thethaobaiviets.my_datetime}}</span>
                           </div>
                           <a class="h6 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                       </div>
                   </div>
               </div>   
               {% endfor %} 
             
          </div> 
          </div>
          <div class="col-lg-4 pt-3 pt-lg-0">                
              <div class="pb-3">
                  <div class="bg-light py-2 px-4 mb-3">
                      <h3 class="m-0">Các tin khác</h3>
              </div>
              
              {% for giaoducbaiviets in giaoducbaiviets3 %}
                <div class="d-flex mb-3">
                    <img src="{{giaoducbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">{{giaoducbaiviets.name}}</a>
                            <span class="px-1">/</span>
                            <span>{{giaoducbaiviets.my_datetime}}</span>
                        </div>
                        <a class="h6 m-0" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                    </div>
                </div>
                {%endfor%}
              {% for dulichbaiviets in dulichbaiviets2 %}
                  <div class="d-flex mb-3">
                      <img src="{{dulichbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                      <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                          <div class="mb-1" style="font-size: 13px;">
                              <a href="{% url 'kinhte'%}">{{dulichbaiviets.name}}</a>
                              <span class="px-1">/</span>
                              <span>{{dulichbaiviets.my_datetime}}</span>
                          </div>
                          <a class="h6 m-0" href="/kinhte/{{ dulichbaiviets.slug }}">{{ dulichbaiviets.titel }}</a>
                      </div>
               
                  </div>
              {% endfor %} 
              {% for dulichbaiviets in dulichbaiviets3 %}
                  <div class="d-flex mb-3">
                      <img src="{{dulichbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                      <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                          <div class="mb-1" style="font-size: 13px;">
                              <a href="{% url 'kinhte'%}">{{dulichbaiviets.name}}</a>
                              <span class="px-1">/</span>
                              <span>{{dulichbaiviets.my_datetime}}</span>
                          </div>
                          <a class="h6 m-0" href="/kinhte/{{ dulichbaiviets.slug }}">{{ dulichbaiviets.titel }}</a>
                      </div>
                  </div>
              {% endfor %} 
              {% for giaitribaiviets in giaitribaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{giaitribaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{giaitribaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{giaitribaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/giaitri/{{ giaitribaiviets.slug }}">{{ giaitribaiviets.titel }}</a>
                        </div>
                    </div>
                {%endfor%}
                {% for doisongbaiviets in doisongbaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{doisongbaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{doisongbaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                        </div>
                    </div>
                {%endfor%}      
                
                    {% for gioitrebaiviets in gioitrebaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{gioitrebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{gioitrebaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{gioitrebaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/gioitre/{{ gioitrebaiviets.slug }}">{{ gioitrebaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}
                    {% for kinhtebaiviets in kinhtebaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{kinhtebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{kinhtebaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{kinhtebaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}
                    {% for suckhoebaiviets in suckhoebaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{suckhoebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{suckhoebaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{suckhoebaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}
                    
                    {% for thoisubaiviets in thoisubaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{thoisubaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{thoisubaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{thoisubaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}
              </div>
   

          </div>
      </div>
  </div>
</div>

{% comment %}------------------------------------ Phần xem tin khác---------------------------------- {% endcomment %}

            </div>
        </div>
    </div>
</div>
</div>
{%endblock content%}