
{% extends "base.html" %}

    {%block content%} 
    
 {% comment %}-------------------------------------------------- --------------------------------------------- {% endcomment %}
    <div class="container-fluid py-3">
        <div class="container">
            <div class="owl-carousel owl-carousel-2 carousel-item-3 position-relative">
                {% for thoisubaiviets in thoisubaiviets2 %} 
               <a href="/thoisu/{{ thoisubaiviets.slug}}">
                <div class="d-flex">
                    <img src="{{thoisubaiviets.image.url}}" style="width: 80px; height: 80px; object-fit: cover;">
                    <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                        {% comment %} <a class="text-secondary font-weight-semi-bold" href="">{{post.titel}}</a> {% endcomment %}
                        <h3 class="m-0"  style="font-size : 18px">{{thoisubaiviets.titel| truncatechars:200}}</h3>
                    </div>                   
                </div>
                </a>
                {% endfor %}          
            </div>
        </div>
    </div>
 {% comment %}-------------------------------------------------- Banner --------------------------------------------- {% endcomment %}
    <div class="container-fluid py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">
                        {% for doisongbaiviets in doisongbaiviets1 %}
                        <div class="position-relative overflow-hidden" style="height: 435px;margin-top: 7px;">
                            <a class="h4" href="/doisong/{{ doisongbaiviets.slug }}">
                                <img class="img-fluid h-100" src="{{doisongbaiviets.image.url}}" style="object-fit: cover;">
                            </a>  
                            <img class="img-fluid h-100" src="{{doisongbaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">       
                                    <a class="text-white" href="">{{doisongbaiviets.my_datetime}}</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                            </div>
                        </div>
                     {%endfor%}                   
                    </div>
                </div>
 {% comment %}-------------------------------------------------- Tin mới nhất--------------------------------------------- {% endcomment %}
                <div class="col-lg-4" id="myColumn" style="display: flex; flex-direction: column;">
                    <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Tin mới</h3>
                    </div>
                    {% for kinhtebaiviets in kinhtebaiviets4 %}
                    <div class="position-relative overflow-hidden mb-3" style="height: 80px; background: none; border-radius: 5px; border: 1px solid #7c6c6c;background: #fff;">                        
                        <a href="/kinhte/{{ kinhtebaiviets.slug }}" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                            <p class="m-0" style="color: black; font-size: 19px;">{{ kinhtebaiviets.titel }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

   
{% comment %}-------------------------------------------------- Thời sự--------------------------------------------- {% endcomment %}
    <div class="container-fluid py-3">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Thời Sự</h3>
                <a class="text-secondary font-weight-medium text-decoration-none" href="{% url 'thoisu' %}">Xem tất cả</a>
            </div>
            <div class="owl-carousel owl-carousel-2 carousel-item-4 position-relative">
              {% for thoisubaiviets in thoisubaiviets1 %}       
                <div class="position-relative overflow-hidden" style="height: 300px; margin-bottom: 10px">
                    <a class="h4" href="/thoisu/{{ thoisubaiviets.slug }}">
                        <img class="/static/img-fluid w-100 h-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">
                    </a>  
                    <img class="/static/img-fluid w-100 h-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">{{thoisubaiviets.name| truncatechars:50}}</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">{{thoisubaiviets.my_datetime}}</a>
                        </div>
                        <a class="h4 m-0 text-white" href="/thoisu/{{ thoisubaiviets.slug}}">{{thoisubaiviets.titel| truncatechars:200}}</a>
                    </div>
                </div>              
                {%endfor%}   
               {% for thoisubaiviets in thoisubaiviets2 %} 
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <a class="h4" href="/thoisu/{{ thoisubaiviets.slug }}">
                        <img class="/static/img-fluid w-100 h-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">
                    </a>  
                    
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">{{thoisubaiviets.name| truncatechars:50}}</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">{{thoisubaiviets.my_datetime}}</a>
                        </div>
                        <a class="h4 m-0 text-white" href="/thoisu/{{ thoisubaiviets.slug | truncatechars:200}}">{{thoisubaiviets.titel| truncatechars:200}}</a>
                    </div>
                </div>    
                {%endfor%} 
                {% for thoisubaiviets in thoisubaiviets3 %} 
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <a class="h4" href="/thoisu/{{ thoisubaiviets.slug }}">
                        <img class="/static/img-fluid w-100 h-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">
                    </a>  
                    
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">{{thoisubaiviets.name| truncatechars:50}}</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">{{thoisubaiviets.my_datetime}}</a>
                        </div>
                        <a class="h4 m-0 text-white" href="/thoisu/{{ thoisubaiviets.slug | truncatechars:200}}">{{thoisubaiviets.titel| truncatechars:200}}</a>
                    </div>
                </div>    
                {%endfor%} 
            </div>
        </div>
    </div>
    </div>
 {% comment %}-------------------------------------------------- Du lịch--------------------------------------------- {% endcomment %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Du lịch</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        {%for dulichbaiviets in  dulichbaiviets1%}
                        <div class="position-relative">
                            <img class="/static/img-fluid w-100" src="{{dulichbaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{dulichbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{dulichbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/dulich/{{ dulichbaiviets.slug }}">{{dulichbaiviets.titel}}</a>
                            </div>
                        </div>   
                        {%endfor%} 
                        {%for dulichbaiviets in  dulichbaiviets2%}
                        <div class="position-relative">
                            <img class="/static/img-fluid w-100" src="{{dulichbaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="/">{{dulichbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{dulichbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/dulich/{{ dulichbaiviets.slug }}">{{dulichbaiviets.titel}}</a>
                            </div>
                        </div>   
                        {%endfor%}
                        {%for dulichbaiviets in  dulichbaiviets3%}
                        <div class="position-relative">
                            <img class="/static/img-fluid w-100" src="{{dulichbaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{dulichbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{dulichbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/dulich/{{ dulichbaiviets.slug }}">{{dulichbaiviets.titel}}</a>
                            </div>
                        </div>   
                        {%endfor%}  
                    </div>                     
                </div>

 {% comment %}-------------------------------------------------- Sức khỏe--------------------------------------------- {% endcomment %}
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Sức khỏe</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        {%for suckhoebaiviets in suckhoebaiviets1 %}
                        <div class="position-relative">
                            <img class="/static/img-fluid w-100" src="{{suckhoebaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{suckhoebaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{suckhoebaiviets.titel}}</a>
                            </div>
                        </div>               
                        {%endfor%}
                        {%for suckhoebaiviets in suckhoebaiviets2 %}
                        <div class="position-relative">
                            <img class="/static/img-fluid w-100" src="{{suckhoebaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{suckhoebaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{suckhoebaiviets.titel}}</a>
                            </div>
                        </div>               
                        {%endfor%}
                        {%for suckhoebaiviets in suckhoebaiviets3 %}
                        <div class="position-relative">
                            <img class="/static/img-fluid w-100" src="{{suckhoebaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{suckhoebaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{suckhoebaiviets.titel}}</a>
                            </div>
                        </div>               
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
 {% comment %}-------------------------------------------------- Giải trí--------------------------------------------- {% endcomment %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Giải trí</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        {%for giaitribaiviets in giaitribaiviets1 %}
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{giaitribaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{giaitribaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{giaitribaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/giaitri/{{ giaitribaiviets.slug }}">{{giaitribaiviets.titel}}</a>
                            </div>
                        </div>
                        {%endfor%}
                        {%for giaitribaiviets in giaitribaiviets2 %}
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{giaitribaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{giaitribaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{giaitribaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/giaitri/{{ giaitribaiviets.slug }}">{{giaitribaiviets.titel}}</a>
                            </div>
                        </div>
                        {%endfor%}
                        {%for giaitribaiviets in giaitribaiviets3 %}
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{giaitribaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{giaitribaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{giaitribaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/giaitri/{{ giaitribaiviets.slug }}">{{giaitribaiviets.titel}}</a>
                            </div>
                        </div>
                        {%endfor%}
                        {%for giaitribaiviets in giaitribaiviets4 %}
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{giaitribaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{giaitribaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{giaitribaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/giaitri/{{ giaitribaiviets.slug }}">{{giaitribaiviets.titel}}</a>
                            </div>
                        </div>
                        {%endfor%}
                    </div>                
                </div>
 {% comment %}-------------------------------------------------- Giải trí--------------------------------------------- {% endcomment %}
                <div class="col-lg-6 py-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Thể thao</h3>
                    </div>
                    <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                        {%for thethaobaiviets in thethaobaiviets1 %}
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{thethaobaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{thethaobaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{thethaobaiviets.titel}}</a>
                            </div>
                        </div>
                        {%endfor%}
                        {%for thethaobaiviets in thethaobaiviets2 %}
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{thethaobaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{thethaobaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{thethaobaiviets.titel}}</a>
                            </div>
                        </div>
                        {%endfor%}  
                        {%for thethaobaiviets in thethaobaiviets3 %}
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{thethaobaiviets.image.url}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">{{thethaobaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{thethaobaiviets.titel}}</a>
                            </div>
                        </div>
                        {%endfor%}                      
                    </div>
                </div>
            </div>
        </div>    
    </div>
 {% comment %}-------------------------------------------------- Tất cả--------------------------------------------- {% endcomment %}
    <div class="container-fluid py-3">
        <div class="container">
            <div class="row">
                <section class="recent-posts">
                    <div class="section-title">
                        <h2><span>Tin nhanh 360</span></h2>
                    </div>
                   
                    <div class="card-columns listrecent">
                        {% for thoisubaiviets in thoisubaiviets5 %}
                        <div class="card" style = "width: 95%;margin-left:10px;">
                            <a href="">
                                <img class="img-fluid" src="{{thoisubaiviets.image.url}}" alt="">
                            </a>
                            <div class="card-block" style = "padding-left: 10px;margin-top: 10px;">
                                <h2 class="card-title"><a href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a></h2>
                                <p class="m-0">{{thoisubaiviets.body}}</p>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <a href="">{{thoisubaiviets.name}}</a>
                                        <span class="px-1">/</span>
                                        <span>{{thoisubaiviets.my_datetime}}</span>
                                        </span>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                   
                    </section>                       
                </div>
            </div>    
        </div>
    </div>
 {% comment %}-------------------------------------------------- Kinh tế--------------------------------------------- {% endcomment %}
    <div class="container-fluid py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row mb-3">

                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0">Kinh tế</h3>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            {% for kinhtebaiviets in kinhtebaiviets1 %}
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{kinhtebaiviets.image.url}}" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                        <a href="">{{kinhtebaiviets.name | truncatechars:50 }}</a>
                                        <span class="px-1">/</span>
                                        <span>{{kinhtebaiviets.my_datetime}}</span>
                                        
                                    </div>
                                    <a class="h4" href="/kinhte/{{ kinhtebaiviets.slug }}">{{kinhtebaiviets.titel}}</a>
                                    <p class="m-0">{{kinhtebaiviets.body}}</p>
                                    {% comment %} <p class="m-0">Rebum dolore duo et vero ipsum clita, est ea sed duo diam ipsum, clita at justo, lorem amet vero eos sed sit...</p> {% endcomment %}
                                </div>
                            </div>
                            {%endfor%}                                                
                        </div>
                      
                        <div class="col-lg-6">
                            {% for kinhtebaiviets in kinhtebaiviets3 %}
                            <div class="d-flex mb-3">
                                <img src="{{kinhtebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">{{kinhtebaiviets.name| truncatechars:50 }}</a>
                                        <span class="px-1">/</span>
                                        <span>{{kinhtebaiviets.my_datetime}}</span>
                                        
                                    </div>
                                    <a class="h6 m-0" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                                </div>
                            </div>
                            {%endfor%}
                            {% for kinhtebaiviets in kinhtebaiviets2 %}
                            <div class="d-flex mb-3">
                                <img src="{{kinhtebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">{{kinhtebaiviets.name| truncatechars:50 }}</a>
                                        <span class="px-1">/</span>
                                        <span>{{kinhtebaiviets.my_datetime}}</span>
                                    </div>
                                    <a class="h6 m-0" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                                </div>
                            </div>
                            {%endfor%} 
                            {% for kinhtebaiviets in kinhtebaiviets4 %}
                            <div class="d-flex mb-3">
                                <img src="{{kinhtebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">{{kinhtebaiviets.name| truncatechars:50 }}</a>
                                        <span class="px-1">/</span>
                                        <span>{{kinhtebaiviets.my_datetime}}</span>
                                    </div>
                                    <a class="h6 m-0" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                                </div>
                            </div>
                            {%endfor%}                            
                        </div>
                    </div>
                    <div class="mb-3 pb-3">
                        <a href=""><img class="img-fluid w-100" src="img/ads-700x70.jpg" alt=""></a>
                    </div>
{% comment %}-------------------------------------------------- Giáo dục--------------------------------------------- {% endcomment %}
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0">Giáo dục</h3>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            {% for giaoducbaiviets in giaoducbaiviets1 %}
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{giaoducbaiviets.image.url}}" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                        <a href="">{{giaoducbaiviets.name}}</a>
                                        <span class="px-1">/</span>
                                        <span>{{giaoducbaiviets.my_datetime}}</span>
                                    </div>
                                    <a class="h4" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                                    <p class="m-0">{{giaoducbaiviets.body}}</p>
                                </div>
                            </div>
                            {% endfor %}
                            {% for giaoducbaiviets in giaoducbaiviets2 %}
                            <div class="d-flex mb-3">
                                <img src="{{giaoducbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">{{giaoducbaiviets.name}}</a>
                                        <span class="px-1">/</span>
                                        <span>{{giaoducbaiviets.my_datetime}}</span>
                                    </div>
                                    <a class="h4" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                                </div>
                            </div>
                            {% endfor %}                        
                        </div>
                        <div class="col-lg-6">
                            {% for giaoducbaiviets in giaoducbaiviets5 %}
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{giaoducbaiviets.image.url}}" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                        <a href="">{{giaoducbaiviets.name}}</a>
                                        <span class="px-1">/</span>
                                        <span>{{giaoducbaiviets.my_datetime}}</span>
                                    </div>
                                    <a class="h4" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                                    <p class="m-0">{{giaoducbaiviets.body}}</p>
                                </div>
                            </div>
                            {% endfor %}
                            {% for giaoducbaiviets in giaoducbaiviets3 %}
                            <div class="d-flex mb-3">
                                <img src="{{giaoducbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">{{giaoducbaiviets.name}}</a>
                                        <span class="px-1">/</span>
                                        <span>{{giaoducbaiviets.my_datetime}}</span>
                                    </div>
                                    <a class="h4" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                                </div>
                            </div>
                            {% endfor %}   
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pt-3 pt-lg-0" style = "margin-top: 60px;">
                    <div class="pb-3">
                       
                            {% for kinhtebaiviets in kinhtebaiviets5 %}
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{kinhtebaiviets.image.url}}" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                        <a href="">{{kinhtebaiviets.name | truncatechars:50 }}</a>
                                        <span class="px-1">/</span>
                                        <span>{{kinhtebaiviets.my_datetime}}</span>
                                        
                                    </div>
                                    <a class="h4" href="/kinhte/{{ kinhtebaiviets.slug }}">{{kinhtebaiviets.titel}}</a>
                                    <p class="m-0">{{kinhtebaiviets.body}}</p>
                                    {% comment %} <p class="m-0">Rebum dolore duo et vero ipsum clita, est ea sed duo diam ipsum, clita at justo, lorem amet vero eos sed sit...</p> {% endcomment %}
                                </div>
                            </div>
                            {%endfor%}                                                
                  
                    </div>
              
{% comment %}-------------------------------------------------- Đời sống--------------------------------------------- {% endcomment %}
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Đời sống</h3>
                        </div>
                        {%for doisongbaiviets in doisongbaiviets1 %}
                        <div class="d-flex mb-3">
                            <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">     
                                    <a href="">{{doisongbaiviets.name | truncatechars:50 }}</a> 
                                    <span>{{doisongbaiviets.my_datetime}}</span>                         
                                </div>
                                <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{doisongbaiviets.titel}}</a>
                            </div>
                        </div>
                        {% endfor %}
                        {%for doisongbaiviets in doisongbaiviets2 %}
                        <div class="d-flex mb-3">
                            <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">   
                                    <a href="">{{doisongbaiviets.name | truncatechars:50 }}</a> 
                                    <span>{{doisongbaiviets.my_datetime}}</span>                             
                                </div>
                                <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{doisongbaiviets.titel}}</a>
                            </div>
                        </div>
                        {% endfor %}
                        {%for doisongbaiviets in doisongbaiviets3 %}
                        <div class="d-flex mb-3">
                            <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">  
                                    <a href="">{{doisongbaiviets.name | truncatechars:50 }}</a> 
                                    <span>{{doisongbaiviets.my_datetime}}</span>                              
                                </div>
                                <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{doisongbaiviets.titel}}</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
   
                    
                </div>
            </div>
        </div>
    </div>
</div>
  

    {%endblock content%}