{% extends "base.html" %}
{%block search%} 

{% for book in books %}


  <!-- Hiển thị thông tin khác của bài viết -->
  <div class="position-relative overflow-hidden" style="height: 435px;">
    <img class="img-fluid h-100" src="{{book.image.url}}" style="object-fit: cover;">
    <div class="overlay">
        <div class="mb-1">
            {% comment %} <a class="text-white" href="">Technology</a>
            <span class="px-2 text-white">/</span> {% endcomment %}
            <a class="text-white" href="">{{book.my_datetime}}</a>
        </div>
        <a class="h2 m-0 text-white font-weight-bold" href="">{{book.titel}}</a>
    </div>
 </div>
  {% empty %}
{% comment %} {% if error_message %}
    <p>{{ error_message }}</p>
{% endif %} {% endcomment %}

{% comment %} -----------------------------------Thời Sự--------------------------------------------- {% endcomment %}
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for thoisubaiviets in thoisubaiviets1 %}
                    <div class="col-lg-6">                       
                      <div class="position-relative mb-3" style = "margin-top: 15px;">                         
                          <img class="img-fluid w-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">                           
                          <div class="overlay position-relative bg-light">
                              <div class="mb-2" style="font-size: 14px;">
                                  <a href="">{{thoisubaiviets.name}}</a>
                                  <span class="px-1">/</span>
                                  <span>{{thoisubaiviets.my_datetime}}</span>
                              </div>
                              <a class="h4" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
                              <p class="m-0">{{thoisubaiviets.body}}</p>
                          </div>                         
                      </div>
                    </div>
                    {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>
{% comment %} -----------------------------------Kinh Tế--------------------------------------------- {% endcomment %}
 

  <div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for kinhtebaiviets in kinhtebaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3" style = "margin-top: 15px;">                         
                            <img class="img-fluid w-100" src="{{kinhtebaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{kinhtebaiviets.name | truncatechars:50 }} </a>
                                    <span class="px-1">/</span>
                                    <span>{{kinhtebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                                <p class="m-0">{{kinhtebaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>                     
                   {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>


{% comment %} -----------------------------------Đời Sống--------------------------------------------- {% endcomment %}

<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for doisongbaiviets in doisongbaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3"style = "margin-top: 15px;">                         
                            <img class="img-fluid w-100" src="{{doisongbaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{doisongbaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{doisongbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                                <p class="m-0">{{doisongbaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>
{% comment %} -----------------------------------Sức khỏe--------------------------------------------- {% endcomment %}
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for suckhoebaiviets in suckhoebaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3"style = "margin-top: 15px;">                         
                            <img class="img-fluid w-100" src="{{suckhoebaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{suckhoebaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                                <p class="m-0">{{suckhoebaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>                     
                   {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>
{% comment %} -----------------------------------Giáo dục--------------------------------------------- {% endcomment %}

<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for giaoducbaiviets in giaoducbaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3"style = "margin-top: 15px;">                         
                            <img class="img-fluid w-100" src="{{giaoducbaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{giaoducbaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{giaoducbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                                <p class="m-0">{{giaoducbaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>      
                   {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>
{% comment %} -----------------------------------Du lịch--------------------------------------------- {% endcomment %}
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for dulichbaiviets in dulichbaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3"style = "margin-top: 15px;">                         
                            <img class="img-fluid w-100" src="{{dulichbaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{dulichbaiviets.name}} </a>
                                      <span class="px-1">/</span>
                                    <span>{{dulichbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/dulich/{{ dulichbaiviets.slug }}">{{ dulichbaiviets.titel }}</a>
                                <p class="m-0">{{dulichbaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>  
                   {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>
{% comment %} -----------------------------------Giải trí--------------------------------------------- {% endcomment %}
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for giaitribaiviets in giaitribaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3"style = "margin-top: 15px;">                         
                            <img class="img-fluid w-100" src="{{giaitribaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{giaitribaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{giaitribaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/giaitri/{{ giaitribaiviets.slug }}">{{ giaitribaiviets.titel }}</a>
                                <p class="m-0">{{giaitribaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>                        
                   {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>
{% comment %} -----------------------------------Thể Thao--------------------------------------------- {% endcomment %}
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for thethaobaiviets in thethaobaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3"style = "margin-top: 15px;">                         
                            <img class="img-fluid w-100" src="{{thethaobaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{thethaobaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/giaitri/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                                <p class="m-0">{{thethaobaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>                        
                   {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>
{% comment %} -----------------------------------Giới trẻ--------------------------------------------- {% endcomment %}
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">               
                <div class="row"> 
                    {% for gioitrebaiviets in gioitrebaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3"style = "margin-top: 15px;">                         
                            <img class="img-fluid w-100" src="{{gioitrebaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{gioitrebaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{gioitrebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/giaitri/{{ gioitrebaiviets.slug }}">{{ gioitrebaiviets.titel }}</a>
                                <p class="m-0">{{gioitrebaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>                        
                   {% endfor %} 
                </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</div>


{% endfor %}


{%endblock search%}