{% extends "base.html" %}
{%block content%}
<div class="container-fluid py-3">
  <div class="container">
      <div class="row">
           <div class="col-lg-8" style = "display: block; margin: 0 auto; max-width: 90.66667%; flex: 1 0 66.66667%;">
           <!-- News Detail End -->
                        <a href="/">{{detail.name| truncatechars:200}}</a>
                        <p>{{detail.content |safe}}</p>
              <!-- News Detail End -->
              <!-- Binh luan-->
              {% comment %} <div class="bg-light mb-3" style="padding: 30px;">
                  <h3 class="mb-4">Leave a comment</h3>
                  <form>
                      <div class="form-group">
                          <label for="name">Name *</label>
                          <input type="text" class="form-control" id="name">
                      </div>
                      <div class="form-group">
                          <label for="email">Email *</label>
                          <input type="email" class="form-control" id="email">
                      </div>
                      <div class="form-group">
                          <label for="website">Website</label>
                          <input type="url" class="form-control" id="website">
                      </div>

                      <div class="form-group">
                          <label for="message">Message *</label>
                          <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                      </div>
                      <div class="form-group mb-0">
                          <input type="submit" value="Leave a comment"
                              class="btn btn-primary font-weight-semi-bold py-2 px-3">
                      </div>
                  </form>
              </div> {% endcomment %}
 {% comment %}------------------------------------ Phần xem tin khác---------------------------------- {% endcomment %}
        </div>
          <div class="container-fluid py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                    <h3 class="m-0">Tin liên quan</h3>
                                    <a class="text-secondary font-weight-medium text-decoration-none" href="{% url 'thoisu'%}">Xem tất cả</a>
                                </div>
                            </div>
                            {% for kinhtebaiviets in kinhtebaiviets1 %}
                            <div class="col-lg-6">                       
                                <div class="position-relative mb-3">                         
                                    <img class="img-fluid w-100" src="{{kinhtebaiviets.image.url}}" style="object-fit: cover;">                           
                                    <div class="overlay position-relative bg-light">
                                        <div class="mb-2" style="font-size: 14px;">
                                            <a href="{% url 'kinhte'%}"style="text-decoration: none;">{{kinhtebaiviets.name | truncatechars:50 }} </a>
                                            <span class="px-1">/</span>
                                            <span>{{kinhtebaiviets.my_datetime}}</span>
                                        </div>
                                        <a class="h4" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                                        <p class="m-0">{{kinhtebaiviets.body}}</p>
                                    </div>                         
                                </div>
                            </div>
                            {% endfor %}
                            {% for thoisubaiviets in thoisubaiviets1 %}
                            <div class="col-lg-6">                       
                                <div class="position-relative mb-3">                         
                                    <img class="img-fluid w-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">                           
                                    <div class="overlay position-relative bg-light">
                                        <div class="mb-2" style="font-size: 14px;">
                                            <a href="">{{thoisubaiviets.name}}</a>
                                            <span class="px-1">/</span>
                                            <span>{{thoisubaiviets.my_datetime}}</span>
                                        </div>
                                        <a class="h4" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
                                        <p class="m-0">{{thoisubaiviets.body}}</p>
                                    </div>                         
                                </div>
                            </div>
                            {% endfor %}
                           
                        </div>
                        <div class="mb-3">
                            <a href=""><img class="img-fluid w-100" src="/static/img/ads-700x70.jpg" alt=""></a>
                        </div>
                        
                        <div class="row">
                        {% for thoisubaiviets in thoisubaiviets2 %}
                        <div class="col-lg-6">
                                   <div class="d-flex mb-3">
                                    <img src="{{thoisubaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                      <div class="mb-1" style="font-size: 13px;">
                                    <a href="{% url 'thoisu'%}">{{thoisubaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thoisubaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
                            </div>
                        </div>
                    </div>   
                    {% endfor %} 
                    {% for doisongbaiviets in doisongbaiviets2 %}
                    <div class="col-lg-6">
                        <div class="d-flex mb-3">
                            <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="{% url 'doisong' %}">{{doisongbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{doisongbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                            </div>
                        </div>
                    </div>   
                    {% endfor %} 
                    {% for doisongbaiviets in doisongbaiviets3 %}
                    <div class="col-lg-6">
                        <div class="d-flex mb-3">
                            <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="{% url 'doisong' %}">{{doisongbaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{doisongbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                            </div>
                        </div>
                    </div>   
                    {% endfor %} 
                  
                    </div>
                        {% comment %} <div class="row">
                            <div class="col-12">
                                <nav aria-label="Page navigation">
                                  <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                      <a class="page-link" href="#" aria-label="Previous">
                                        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                      </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                      <a class="page-link" href="#" aria-label="Next">
                                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                      </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <div class="col-lg-4 pt-3 pt-lg-0">                
                        <div class="pb-3">
                            <div class="bg-light py-2 px-4 mb-3">
                                <h3 class="m-0">Đọc thêm</h3>
                        </div>
                        {% for kinhtebaiviets in kinhtebaiviets2 %}
                            <div class="d-flex mb-3">
                                <img src="{{kinhtebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="{% url 'kinhte'%}">{{kinhtebaiviets.name}}</a>
                                        <span class="px-1">/</span>
                                        <span>{{kinhtebaiviets.my_datetime}}</span>
                                    </div>
                                    <a class="h6 m-0" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                                </div>
                         
                            </div>
                        {% endfor %} 
                        {% for kinhtebaiviets in kinhtebaiviets3 %}
                            <div class="d-flex mb-3">
                                <img src="{{kinhtebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="{% url 'kinhte'%}">{{kinhtebaiviets.name}}</a>
                                        <span class="px-1">/</span>
                                        <span>{{kinhtebaiviets.my_datetime}}</span>
                                    </div>
                                    <a class="h6 m-0" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                                </div>
                         
                            </div>
                        {% endfor %} 
                        </div>
             
    
                    </div>
                </div>
            </div>
        </div>

        {% comment %}------------------------------------ Phần xem tin khác---------------------------------- {% endcomment %}
        </div>
      </div>
  </div>
</div>
</div>

{%endblock content%}