                  {% for thoisubaiviets in thoisubaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{thoisubaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href="">{{thoisubaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thoisubaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
                                <p class="m-0">{{thoisubaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}   
                  {% for kinhtebaiviets in kinhtebaiviets1 %}
                  <div class="col-lg-6">                       
                      <div class="position-relative mb-3">                         
                          <img class="img-fluid w-100" src="{{kinhtebaiviets.image.url}}" style="object-fit: cover;">                           
                          <div class="overlay position-relative bg-light">
                              <div class="mb-2" style="font-size: 14px;">
                                  <a href="{% url 'kinhte'%}"style="text-decoration: none;">{{kinhtebaiviets.name | truncatechars:50 }} </a>
                                  <span class="px-1">/</span>
                                  <span>{{kinhtebaiviets.my_datetime}}</span>
                              </div>
                              <a class="h4" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
                              <p class="m-0">{{kinhtebaiviets.body}}</p>
                          </div>                         
                      </div>
                  </div>
                  {% endfor %}
                  {% for giaoducbaiviets in giaoducbaiviets1 %}
                  <div class="col-lg-6">                       
                      <div class="position-relative mb-3">                         
                          <img class="img-fluid w-100" src="{{giaoducbaiviets.image.url}}" style="object-fit: cover;">                           
                          <div class="overlay position-relative bg-light">
                              <div class="mb-2" style="font-size: 14px;">
                                  <a href="{% url 'giaoduc'%}">{{giaoducbaiviets.name}}</a>
                                  <span class="px-1">/</span>
                                  <span>{{giaoducbaiviets.my_datetime}}</span>
                              </div>
                              <a class="h4" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
                              <p class="m-0">{{giaoducbaiviets.body}}</p>
                          </div>                         
                      </div>
                  </div>
                  {% endfor %}
                  {% for doisongbaiviets in doisongbaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{doisongbaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{doisongbaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{doisongbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
                                <p class="m-0">{{doisongbaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for dulichbaiviets in dulichbaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{dulichbaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{dulichbaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{dulichbaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/dulich/{{ dulichbaiviets.slug }}">{{ dulichbaiviets.titel }}</a>
                                <p class="m-0">{{dulichbaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for giaitribaiviets in giaitribaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{giaitribaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{giaitribaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{giaitribaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/giaitri/{{ giaitribaiviets.slug }}">{{ giaitribaiviets.titel }}</a>
                                <p class="m-0">{{giaitribaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for gioitrebaiviets in gioitrebaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{gioitrebaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{gioitrebaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{gioitrebaiviets.my_datetime}}</span>
                                </div>
                              
                                <a class="h4" href="/gioitre/{{ gioitrebaiviets.slug }}">{{ gioitrebaiviets.titel }}</a>
                                <p class="m-0">{{gioitrebaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for suckhoebaiviets in suckhoebaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{suckhoebaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{suckhoebaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{suckhoebaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
                                <p class="m-0">{{suckhoebaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                    {% for thethaobaiviets in thethaobaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{thethaobaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{thethaobaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                                <p class="m-0">{{thethaobaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %} 



 {% comment %} -------------------------------Phần dưới--------------------------------------------- {% endcomment %}
















{% for thoisubaiviets in thoisubaiviets2 %}
<div class="col-lg-6">
    <div class="d-flex mb-3">
        <img src="{{thoisubaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="">{{thoisubaiviets.name}}</a>
                <span class="px-1">/</span>
                <span>{{thoisubaiviets.my_datetime}}</span>
            </div>
            <a class="h6 m-0" href="/thoisu/{{ thoisubaiviets.slug }}">{{ thoisubaiviets.titel }}</a>
        </div>
    </div>
</div>  
{% endfor %}
{% comment %} -------------------------Thời sự bài viết------------------------- {% endcomment %}
{% for giaoducbaiviets in giaoducbaiviets2 %}
<div class="col-lg-6">
    <div class="d-flex mb-3">
        <img src="{{giaoducbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="">{{giaoducbaiviets.name}}</a>
                <span class="px-1">/</span>
                <span>{{giaoducbaiviets.my_datetime}}</span>
            </div>
            <a class="h6 m-0" href="/giaoduc/{{ giaoducbaiviets.slug }}">{{ giaoducbaiviets.titel }}</a>
        </div>
    </div>
</div>   
{% endfor %} 
 
{% comment %} -------------------------Giáo Dục bài viết------------------------- {% endcomment %}
 {% for doisongbaiviets in doisongbaiviets2 %}
 <div class="col-lg-6">
    <div class="d-flex mb-3">
        <img src="{{doisongbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="{% url 'doisong' %}">{{doisongbaiviets.name}}</a>
                <span class="px-1">/</span>
                <span>{{doisongbaiviets.my_datetime}}</span>
            </div>
            <a class="h6 m-0" href="/doisong/{{ doisongbaiviets.slug }}">{{ doisongbaiviets.titel }}</a>
        </div>
    </div>
  </div>   
 {% endfor %} 
 {% comment %} -------------------------Đời sống bài viết------------------------- {% endcomment %} 
 {% for kinhtebaiviets in kinhtebaiviets2 %}
<div class="col-lg-6">
    <div class="d-flex mb-3">
        <img src="{{kinhtebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="">{{kinhtebaiviets.name}}</a>
                <span class="px-1">/</span>
                <span>{{kinhtebaiviets.my_datetime}}</span>
            </div>
            <a class="h6 m-0" href="/kinhte/{{ kinhtebaiviets.slug }}">{{ kinhtebaiviets.titel }}</a>
        </div>
    </div>
</div>               
 {% endfor %} 
 {% comment %} -------------------------Kinh tế bài viết------------------------- {% endcomment %} 
 {% for dulichbaiviets in dulichbaiviets2 %}
 <div class="col-lg-6">
     <div class="d-flex mb-3">
         <img src="{{dulichbaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
         <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
             <div class="mb-1" style="font-size: 13px;">
                 <a href="">{{dulichbaiviets.name}}</a>
                 <span class="px-1">/</span>
                 <span>{{dulichbaiviets.my_datetime}}</span>
             </div>
             <a class="h6 m-0" href="/dulich/{{ dulichbaiviets.slug }}">{{ dulichbaiviets.titel }}</a>
         </div>
     </div>
 </div>   
 {% endfor %} 
{% comment %} -------------------------Du lịch bài viết------------------------- {% endcomment %} 
{% for giaitribaiviets in giaitribaiviets2 %}
<div class="col-lg-6">
    <div class="d-flex mb-3">
        <img src="{{giaitribaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="">{{giaitribaiviets.name}}</a>
                <span class="px-1">/</span>
                <span>{{giaitribaiviets.my_datetime}}</span>
            </div>
            <a class="h6 m-0" href="/giaitri/{{ giaitribaiviets.slug }}">{{ giaitribaiviets.titel }}</a>
        </div>
    </div>
</div>                      
 {% endfor %} 
{% comment %} -------------------------Giải Trí bài viết------------------------- {% endcomment %}  
 {% for gioitrebaiviets in gioitrebaiviets2 %}
 <div class="col-lg-6">
    <div class="d-flex mb-3">
        <img src="{{kinhteaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="">{{gioitrebaiviets.name}}</a>
                <span class="px-1">/</span>
                <span>{{gioitrebaiviets.my_datetime}}</span>
            </div>
            <a class="h6 m-0" href="/gioitre/{{ gioitrebaiviets.slug }}">{{ gioitrebaiviets.titel }}</a>
        </div>
    </div>
</div>                    
 {% endfor %}  
{% comment %} -------------------------Giới trẻ bài viết------------------------- {% endcomment %}  
{% for suckhoebaiviets in suckhoebaiviets2 %}
<div class="col-lg-6">
    <div class="d-flex mb-3">
        <img src="{{suckhoebaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="">{{suckhoebaiviets.name}}</a>
                <span class="px-1">/</span>
                <span>{{suckhoebaiviets.my_datetime}}</span>
            </div>
            <a class="h6 m-0" href="/suckhoe/{{ suckhoebaiviets.slug }}">{{ suckhoebaiviets.titel }}</a>
        </div>
    </div>
</div>                    
{% endfor %} 
{% comment %} -------------------------Sức khỏe bài viết------------------------- {% endcomment %}
{% for thethaobaiviets in thethaobaiviets2 %}
<div class="col-lg-6">
    <div class="d-flex mb-3">
        <img src="{{thethaobaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="">{{thethaobaiviets.name}}</a>
                <span class="px-1">/</span>
                <span>{{thethaobaiviets.my_datetime}}</span>
            </div>
            <a class="h6 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
        </div>
    </div>
</div>   
{% endfor %}    