{% extends "base.html" %}

{% block verify_otp %}


<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div>{{ message }}</div>
                        {% elif message.tags == 'error' %}
                            <div class="error-message">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            
                <form method="post" action="{% url 'verify_otp' user_id=user_id %}">
                    {% csrf_token %}
                    <!-- Thêm các trường form cần thiết -->
                    <label for="otp">Nhập mã OTP:</label>
                    <input type="text" name="otp" required>
                    <button type="submit">Xác thực</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock verify_otp %} 



