{% extends "base.html" %}
{% load static %}

{%block thethao%}
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">{{ thethao1 }}</h3>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="">Xem tất cả</a>
                        </div>
                    </div>
                    {% for thethaobaiviets in thethaobaiviets1 %}
                    <div class="col-lg-6">                       
                        <div class="position-relative mb-3">                         
                            <img class="img-fluid w-100" src="{{thethaobaiviets.image.url}}" style="object-fit: cover;">                           
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href=""style="text-decoration: none;">{{thethaobaiviets.name}} </a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h4" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                                <p class="m-0">{{thethaobaiviets.body}}</p>
                            </div>                         
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="mb-3">
                    <a href=""><img class="img-fluid w-100" src="/stactic/img/ads-700x70.jpg" alt=""></a>
                    <h3 class="m-0">{{ thethao2 }}</h3>
                </div>
                
                <div class="row">
                    {% for thethaobaiviets in thethaobaiviets2 %}
                    <div class="col-lg-6">
                        <div class="d-flex mb-3">
                            <img src="{{thethaobaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{thethaobaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                            </div>
                        </div>
                    </div>   
                    {% endfor %} 
                </div>
             
            </div>

            <div class="col-lg-4 pt-3 pt-lg-0">
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">{{ thethao3 }}</h3>
                    </div>
                    {% for thethaobaiviets in thethaobaiviets3 %}
                    <div class="d-flex mb-3">
                        <img src="{{thethaobaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{thethaobaiviets.name}}</a>
                                <span class="px-1">/</span>
                                <span>{{thethaobaiviets.my_datetime}}</span>
                            </div>
                            <a class="h6 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                        </div>
                    </div>
                    {%endfor%}          
                </div>
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">{{ thethao4 }}</h3>
                    </div>
                    <div class="d-flex flex-wrap m-n1">
                        {% for thethaobaiviets in thethaobaiviets4 %}
                        <div class="d-flex mb-3">
                            <img src="{{thethaobaiviets.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">{{thethaobaiviets.name}}</a>
                                    <span class="px-1">/</span>
                                    <span>{{thethaobaiviets.my_datetime}}</span>
                                </div>
                                <a class="h6 m-0" href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a>
                            </div>
                        </div>
                        {%endfor%}  
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <section class="featured-posts">
                <div class="section-title">
                    <h2><span>{{ thethao5 }}</span></h2>     
                </div>
                <div class="card-columns listfeaturedtag">
                    {% for thethaobaiviets in thethaobaiviets5 %}
                    <div class="card"style = "width: 95%;margin-left:10px;border: none;">
                     
                        <div class="row" style = "border: none;">
                            <div class="col-md-5 wrapthumbnail"style = "border: none;">
                                <a href="">
                                    <div class="thumbnail">
                                        <img class=""style="width: 120%;
                                         height: 90%;" src="{{thethaobaiviets.image.url}}">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7"style = "padding-left: 25px">
                                <div class="card-block"style = "padding-left: 10px;margin-top: 10px;">
                                    <h2 class="card-title"><a href="/thethao/{{ thethaobaiviets.slug }}">{{ thethaobaiviets.titel }}</a></h2>
                                    <p class="m-0">{{thethaobaiviets.body}}</p>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="author-meta">
                                            <span class="post-name"><a href="">{{thethaobaiviets.name}}</a></span><br/>
                                            <span class="post-date">{{thethaobaiviets.my_datetime}}</span><span class="dot"></span><span class="post-read"></span>
                                            </span>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>           
            </section>
        </div>
    </div>
</div>
<a href="#" class="btn btn-dark back-to-top"><i class="fa fa-angle-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>

{%endblock thethao%}